name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonarqube:
    runs-on:
      group: projects-poc
    env:
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - name: Install dependencies
        run: npm install
      - name: SonarQube Scan
        if: env.SONAR_HOST_URL != '' && env.SONAR_TOKEN != ''
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=website-frontend
            -Dsonar.host.url=${{ env.SONAR_HOST_URL }}
            -Dsonar.login=${{ env.SONAR_TOKEN }}
      - name: Set version env
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            echo "REACT_APP_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
          else
            echo "REACT_APP_VERSION=dev-${GITHUB_RUN_ID}" >> $GITHUB_ENV
          fi
